# Ignore everything
*

# Allow dist
!dist/
!dist/**

# Allow important files
!package.json
!package-lock.json
!yarn.lock

# Allow env example (not real env)
!.env.example

# Allow gitignore
!.gitignore
!README.md